#homepage-body{
    text-align: center;
}
table, th, td{
    margin: auto;
    padding: 3px;
}

.act-table, .act-table th, .act-table td{
    border: 1px solid black;
    border-collapse: collapse;
}
a{
    margin-left: 3px;
    margin-right: 3px;
}

#act-form{
    display: inline-block;
}

#act-form-btns{
    text-align: center;
    margin: 10px;
}

#act-form label{
    display: inline-block;
    width: 120px;
}
#act-form input{
    margin-bottom: 5px;
}

#act-form textarea{
    vertical-align: middle;

}

